<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homecooking.ykecomo" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.homecooking.ykecomo.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.InitHelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_init_help"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".ui.activity.MenuPrincipalActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activity.ProductsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_products"
            android:parentActivityName=".ui.activity.MenuPrincipalActivity"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ProductDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
        </activity>
        <activity
            android:name=".ui.activity.userProfile.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ui.activity.MenuPrincipalActivity"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name=".ui.activity.userProfile.SignupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".ui.activity.userProfile.LoginActivity"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.userProfile.LoginActivity" />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.userProfile.ViewUserProfileActivity"
            android:label="@string/title_activity_view_user_profile"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar.TranslucentStatus" >
        </activity>
        <activity
            android:name=".ui.activity.image.NewPhoto"
            android:label="@string/title_activity_new_photo"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" />
        <activity
            android:name=".ui.activity.userProfile.BaseUserProfileActivity"
            android:label="@string/title_activity_base_user_profile" >
        </activity>
        <activity
            android:name=".ui.activity.userProfile.UserProfileSettings"
            android:label="@string/title_activity_user_profile_settings"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
        </activity>
        <activity
            android:name=".ui.activity.userProfile.memberPreferenceActivities.EditFullnameMember"
            android:label="@string/title_activity_edit_fullname_member"
            android:theme="@style/ActionPreference" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.memberPreferenceActivities.EditFullnameMember" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.userProfile.memberPreferenceActivities.EmailMember"
            android:label="@string/title_activity_email_member"
            android:theme="@style/ActionPreference" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.memberPreferenceActivities.EmailMember" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.userProfile.memberPreferenceActivities.DescriptionMember"
            android:label="@string/title_activity_description_member"
            android:theme="@style/ActionPreference" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.memberPreferenceActivities.DescriptionMember" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.userProfile.memberPreferenceActivities.AddressMember"
            android:theme="@style/ActionPreference" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.memberPreferenceActivities.AddressMember" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ChefActivity"
            android:label="@string/title_activity_chefs"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar.TranslucentStatus" >
        </activity>

        <!-- ************************* ENTORNO CHEF **************************************** -->

        <activity
            android:name=".ui.activity.chefZone.ChefMenuPrincipalActivity"
            android:label="@string/title_activity_chef_menu_principal"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus" >
        </activity>
        <activity
            android:name=".ui.activity.chefZone.productForm.EditProductCategoryChefActivity"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
        </activity>
        <activity
            android:name=".ui.activity.chefZone.productForm.EditTitleProductChefActivity"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.chefZone.productForm.EditTitleProductChefActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.chefZone.productForm.EditProductCategorySpinnerActivity"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.chefZone.productForm.EditProductCategorySpinnerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.chefZone.productForm.EditPortionProductChef"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.chefZone.productForm.EditPortionProductChef" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.chefZone.productForm.EditPriceProductChef"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.chefZone.productForm.EditPriceProductChef" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.chefZone.productForm.EditDescriptionProductChef"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.chefZone.productForm.EditDescriptionProductChef" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.chefZone.productForm.EditImageProductChef"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.chefZone.productForm.EditImageProductChef" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.chefZone.productForm.EditContentProductChef"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar" >
            <intent-filter>
                <action android:name="com.homecooking.ykecomo.ui.activity.chefZone.productForm.EditContentProductChef" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.chefZone.EditProductChefActivity"
            android:theme="@style/MaterialDrawerTheme.Light.ActionBar">
        </activity>
        <!-- ******************************************************************************** -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQ_SS4U8PbfZzfkPNdYeUiZnLjzlpSzI8" />
    </application>

</manifest>
